@charset "UTF-8";
:root {
  /* Color Var */
  --primery-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --primery-btn-color: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --main-title-color: #ffffff;
  --white-text-color: #ffffff;
  --first-text-color: #757575;
  --second-text-color: #212121;
  --accent-color: #2196f3;
  --hover-color-btn: #188ce8;
  --hover-link: #2196f3;
  --border-line: #ececec;
  /* Margin */
  --marg-r-30: 30px;
  /* transition */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primery-bg-color);
  color: var(--first-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

b {
  font-weight: inherit;
}

.centered {
  text-align: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.section--no-padding-top {
  padding-top: 0;
}

.section--ather-bg {
  background-color: var(--secondary-bg-color);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.logo__accent {
  color: var(--accent-color);
}

.logo--ligth {
  color: var(--white-text-color);
}

.button {
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  border-color: transparent;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 300ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #000000;
  transition: color 250ms var(--timing-function);
  cursor: pointer;
}
.modal-close:hover, .modal-close:focus {
  color: var(--accent-color);
}

.icon-close {
  fill: currentColor;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 37px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);
  outline: transparent;
}
.modal-input::placeholder, .modal-input::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/* .modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgb(204, 126, 113);
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgb(224, 42, 10);
} */
/* .modal-input:required {
  border-color: red;
} */
.modal-label {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--timing-function);
}

.modal-text {
  display: block;
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  transition: border-color 250ms var(--timing-function);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-comment {
  margin: 0;
  margin-bottom: 20px;
}

.modal-input:focus,
.modal-text:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.check-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms var(--timing-function);
}
.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
.modal-check:focus + .check-text span {
  border-color: var(--accent-color);
}

.check-link {
  color: var(--accent-color);
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.check-icon {
  fill: transparent;
}
.modal-check:checked + .check-text .check-icon {
  fill: #ffffff;
}

.check-field {
  margin-bottom: 30px;
}

/* .check-text:before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 10px;
}

.modal-check:checked + .check-text:before {
  background-color: var(--accent-color);
  border: none;
  background-image: url('../images/icons/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 11px 11px;
} */
.modal-btn {
  display: block;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid var(--border-line);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.header__nav {
  display: flex;
  align-items: center;
  /* gap: 93px; */
}

.navigation {
  display: flex;
  gap: 50px;
}

.navigation__link {
  position: relative;
  display: inline-block;
  padding: 32px 2px 31px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition: color 250ms var(--timing-function);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--hover-link);
}
.navigation__link--current {
  color: var(--hover-link);
}
.navigation__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__connection {
  margin-left: auto;
}

.connection {
  display: flex;
  align-items: center;
  gap: 50px;
}

.connection__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 0;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  transition: color 250ms var(--timing-function);
}
.connection__link .connection__icon {
  fill: currentColor;
}
.connection__link:hover, .connection__link:focus {
  color: var(--hover-link);
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--footer-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__heading {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.hero__btn {
  min-width: 200px;
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* text-align: center; */
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: var(--hover-color-btn);
}

.peculiarities__list {
  display: flex;
}

.peculiarities__item {
  width: calc((100% - 90px) / 4);
}
.peculiarities__item:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
}

.peculiarities__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.peculiarities__descr {
  line-height: 1.7142857143;
}

.specialization {
  display: flex;
}

.specialization__thumb {
  position: relative;
}

.specialization__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.specialization__item:not(:last-child) {
  margin-right: var(--marg-r-30);
}

.team {
  display: flex;
  align-items: center;
}

.team__item {
  width: calc(100% - 22.5px);
  background-color: var(--primery-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: var(--marg-r-30);
}

.team__content {
  padding: 30px 0;
}

.team__title {
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--second-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  /* background-color: tomato; */
  color: #afb1b8;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.socials__icon {
  fill: currentColor;
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms var(--timing-function), color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients__logo {
  fill: currentColor;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  /* если строка будет переполнятся  flex-wrap: wrap; */
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

/* .filter__item + .filter__item {
  margin-left: 8px;
} */
.filter__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background: var(--primery-btn-color);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), color 250ms var(--timing-function);
}
.filter__btn--active, .filter__btn:hover, .filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
  /* gap: 30px; */
}

/* 
.cards__item {
  flex-basis: calc(100% / 3 - 30px);
  flex-basis: calc((100% - 60px) / 3);
  margin-top: 30px;
  margin-left: 30px;

  background: var(--primery-bg-color);
} */
.cards__link {
  display: block;
  flex-basis: calc(33.3333333333% - 30px);
  /* flex-basis: calc((100% - 60px) / 3); */
  margin-top: 30px;
  margin-left: 30px;
  background: var(--primery-bg-color);
  transition: box-shadow 250ms var(--timing-function);
}
.cards__link:hover, .cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 300ms var(--timing-function);
  overflow: auto;
}
.cards__link:hover .overlay, .cards__link:focus .overlay {
  transform: translateY(0);
}

.overlay__text {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.cards__content {
  padding: 20px 24px 19px;
  border: 1px solid var(--border-line);
  border-top: none;
}

.cards__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.container__footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer__social {
  margin-right: 93px;
}

.footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
}

.address {
  font-style: normal;
  max-height: 81px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--white-text-color);
  transition: color 250ms var(--timing-function);
}
.address__link:hover, .address__link:focus {
  color: var(--hover-link);
}

.address__contact {
  line-height: 1.7142857143;
  color: var(--footer-link-color);
}

.footer-soc {
  display: flex;
  gap: 10px;
}

.footer__social-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.footer-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: var(--hover-link);
}

.footer-form__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--white-text-color);
}

.footer-form__field {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-form__input {
  min-width: 358px;
  min-height: 50px;
  padding: 15px 0 15px 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.footer-form__btn-icon {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */