.specialization {
  display: flex;
}

.specialization__thumb {
  position: relative;
}

.specialization__label {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 70px;
  background: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-text-color);
}

.specialization__item:not(:last-child) {
  margin-right: var(--marg-r-30);
}
