.header {
  @include tablet {
    border-bottom: 1px solid var(--border-line);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  /* gap: 93px; */
}

.navigation {
  display: none;
  @include tablet {
    display: flex;
    -webkit-column-gap: 50px;
    -moz-column-gap: 50px;
    column-gap: 50px;
  }
}

// @include tablet {
//   .navigation__item:not(:last-child) {
//     margin-right: 50px;
//   }
// }

.navigation__link {
  position: relative;
  display: inline-block;
  padding: 32px 2px 31px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--second-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--hover-link);
  }

  &--current {
    color: var(--hover-link);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

.header__connection {
  margin-left: auto;
}

.connection {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // gap: 10px;
  }

  @include desctop {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }
}

.connection__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }
}

.connection__link {
  display: flex;
  align-items: center;
  column-gap: 10px;
  // padding: 4px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  color: inherit;

  transition: color 250ms var(--timing-function);

  @include desctop {
    font-size: 14px;
    line-height: calc(16 / 14);
  }

  .connection__icon {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    color: var(--hover-link);
  }
}
