.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms var(--timing-function), visibility 300ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 300ms var(--timing-function);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  background-color: transparent;
  color: #000000;
  transition: color 250ms var(--timing-function);
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.icon-close {
  fill: currentColor;
}
