.footer__address {
  text-align: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @include tablet {
  }
  @include desctop {
    max-width: 232px;
    margin-right: 70px;
    flex-grow: 1;
    text-align-last: left;
  }
}

.address {
  font-style: normal;
  max-height: 81px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--white-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--hover-link);
  }
}

.address__contact {
  line-height: calc(24 / 14);
  color: var(--footer-link-color);
}
