.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
  width: 100%;
}

.container__footer-wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    // justify-content: center;
  }

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
  @include desctop {
    display: flex;
  }
}

.footer__address {
  max-width: 232px;
  @media screen and (max-width: 767px) {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  @include tablet {
    margin-right: 165px;
  }
  @include desctop {
    margin-right: 70px;
    flex-grow: 1;
  }
}
