.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.container__footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
  flex-grow: 1;
}

.footer__social {
  margin-right: 93px;
}

.footer__logo {
  margin-right: 0;
  margin-bottom: 20px;
}
