.footer__social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @include desctop {
    margin-right: 93px;
  }
}

.footer-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer__social-text {
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--white-text-color);

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer-soc__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-link);
  }
}
