.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
  width: 100%;
}

.container__footer-wrap {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    justify-content: space-around;
  }
}
