.logo {
  display: inline-block;
  padding: 16px 0;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

  color: var(--second-text-color);

  &__accent {
    color: var(--accent-color);
  }

  @include tablet {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}

.header__logo {
  @include tablet {
    margin-right: 88px;
    padding: 0;
  }

  @include desctop {
    margin-right: 93px;
  }
}

.footer__logo {
  width: 154px;
  padding: 0;
  text-align: center;

  @media screen and (max-width: 767px) {
    display: block;
    margin: 0 auto 20px;
  }
  @include tablet {
    margin-bottom: 20px;
    text-align: left;
  }
  @include desctop {
    margin: 0;

    margin-bottom: 20px;
  }
}

.logo--ligth {
  color: var(--white-text-color);
}
